{% load static %}

<!-- 유저 프로필 이미지 -->
{% if request.user.profile %}
    <img src="{{ request.user.profile.url}}">
{% else %}
    <img src="{% static 'default_profile.jpg' %}">
{% endif %}


<!-- 유저 정보 -->
<p>닉네임: {{ request.user.nickname }}</p>
<p>생일: {{ request.user.birthday|linebreaks }}</p>
<p>이메일: {{ request.user.email }}</p>
<p>소개: {{ request.user.info }}</p>


<!-- 유저 팔로우/팔로잉 수 노출 -->
<div role="followers">
    <a href="{% url 'follower' request.user.username %}">{{ request.user.followers.count }} followers</a>
</div>
<div role="followings">
    <a href="{% url 'following' request.user.username %}">{{ request.user.followings.count }} followings</a>
</div>


<!-- 포인트 내역 노출 --> 




<!-- 설정 페이지로 이동 -->
<div role="link_to_settings">
    <a href="{% url 'info_setting' %}">EDIT PROFILE</a>
    <a href="{% url 'pw_setting' %}">Change Password</a>
</div>