{% extends 'base.html' %}

{% block title %}
<title>{{ d_user.username }} </title>

<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<style>
    body {
        background-color: #f1f1f1;
    }

  #img_link {
      text-decoration: none;
  }

  
  .box-img {
    opacity: 1;
    cursor: pointer;
    visibility: hidden;
  }

  .box-img:hover{opacity: 0.7; }

  #mypage {
      text-decoration: none;
  }

  #mypage:hover {
      color: black;
  }
  
</style>
{% endblock %}

{% block content %}

<div class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="width:300px;font-weight:bold;" id="mySidebar"><br>

    <div style="padding-top: 70px;">
        <!-- 유저 프로필 이미지 -->
        <div id="profile_img" class="m-t-250">
            {% if d_user.profile %}
                <img class="p-t-200" src="{{ d_user.profile.url }}" style="max-width: 75%; height: auto;">
            {% else %}
                <div>
                    <i class="zmdi zmdi-account-circle"></i>
                </div>
            {% endif %}
        </div>
        

        <h2 class="w3-padding-16 w3-center">{{ d_user.username }}</h2>
        <div class="w3-center h6 pr-3 pl-3" style="padding-left: 2rem; padding-right: 2rem;"><h6>{{ d_user.info }}</h6></div>

        <!-- 유저 팔로우 기능 -->
        <div id="follow_relationship" class="w3-padding-16">
        {% if user.is_authenticated %}
            <!-- 자기 자신이 아니면: 로그인한 유저와 유저 페이지의 유저가 일치하지 않을 때 -->
            {% if request.user != d_user %}
                <!-- 언팔로우 노출 : 이미 팔로우한 유저일 때 -->
                {% if request.user in d_user.followers.all %}
                    <a class="w3-button w3-text-red w3-hover-red w3-bar-item" href="{% url 'unfollow' d_user.username %}">UNFOLLOW</a>
                {% else %} <!-- 팔로우 노출 : 팔로우 하지 않는 유저일 때 -->
                    <a class="w3-button w3-text-blue w3-hover-blue w3-bar-item" href="{% url 'follow' d_user.username %}">FOLLOW</a>
                {% endif %}
            {% else %} <!-- 자신의 유저 페이지이면 -->
                <a id="mypage" class="w3-btn w3-bar-item" href="{% url 'mypage' %}">My Page</a>
            {% endif %}
        {% else %} <!-- 로그인 안 했으면 -->
            <!-- 팔로우인 척 하면서 로그인 페이지로 이동 -->
            <a class="w3-button w3-text-blue w3-hover-blue w3-bar-item" href="{% url 'signin' %}">FOLLOW</a>
        {% endif %}
        </div>

        <!-- 유저 팔로우/팔로잉 수 노출 -->
        <div id="follow_count">
            <div role="followers">
                {% if d_user.followers.count > 0 %}
                    <a class="w3-hover-text-blue" style="text-decoration: none;" href="{% url 'follower' d_user.username %}" rel="modal:open">{{ d_user.followers.count }} followers</a>
                {% else%}
                    <span  class="w3-hover-text-blue" style="text-decoration: none;">{{ d_user.followers.count }} followers</span>
                {% endif %}
            </div>
            <div role="followings">
                {% if d_user.followings.count > 0 %}
                    <a  class="w3-hover-text-blue" style="text-decoration: none;"  href="{% url 'following' d_user.username %}" rel="modal:open">{{ d_user.followings.count }} followings</a>
                {% else %}
                    <span  class="w3-hover-text-blue" style="text-decoration: none;">{{ d_user.followings.count }} followings</span>
                {% endif %}
            </div>
        </div>

        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large p-t-50">CLOSE</a>

        <!-- 작성한 글 카테고리 -->
        <div id="user_category" class="w3-padding-32">
            <a href="#photoshop" onclick="w3_close()" class="w3-bar-item w3-button">PHOTOSHOP</a> 
            <a href="#mission_comment" onclick="w3_close()" class="w3-bar-item w3-button">MISSION COMMENT</a> 
            <a href="#mission" onclick="w3_close()" class="w3-bar-item w3-button">MISSION</a> 
        </div>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-hide-large w3-top w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding">{{ d_user.username }}</span>
  <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Push down content on small screens --> 
    <div class="w3-hide-large" style="margin-top:83px"></div>


    <div class="w3-container w3-center w3-padding-16">
  
    <!------------------------------------------
    *               작성한 보정법              *
    ------------------------------------------->
    <h3 class="h3 category_head" id="photoshop">Photoshop Posts</h3>
    <div class="w3-row w3-padding-16 w3-center">
        {% if photocut %}
            {% for p in photocut %}
                <div class="w3-quarter" style="height: 295px; width: 295px;">
                    <div style="overflow: hidden; width: 100%; height: 100%;">
                        <a href="{% url 'photodetail' p.id %}" style="display: none;">{{ p.date }}</a>
                        {% if p.photoafter %}<img src="{{ p.photoafter.url }}" alt="{{ p.title }}" class="box-img" style="overflow: hidden;">{% endif %}
                        {% if user.is_authenticated and request.user in p.photo_like.all %}
                            <span style="display: none;" role="♥ ">{{ p.getlike }}</span>
                        {% else %}
                            <span style="display: none;" role="♡ ">{{ p.getlike }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            작성한 보정법이 없습니다.
        {% endif %}
    </div>
    <!-- Pagination -->
    <div class="w3-container w3-center w3-padding-32">
        <div class="w3-bar">
            {% if photocut %}
                {% if photocut.has_previous %}
                    <a href="?page={{photocut.previous_page_number}}" class="w3-bar-item w3-button w3-hover-black">«</a>
                {% endif %}
                <span class="w3-bar-item">{{ photocut.number }}</span>
                <span class="w3-bar-item">/</span>
                <span class="w3-bar-item">{{ photocut.paginator.num_pages }}</span>
                {%if photocut.has_next%}
                    <span><a href="?page={{photocut.next_page_number}}" class="w3-bar-item w3-button w3-hover-black">»</a></span>
                {% endif%}
            {% endif %}
        </div>
    </div>
    

    <!-------------------------------------
    *               답변글                *
    -------------------------------------->
    <h3 class="h3 category_head w3-padding-32" id="mission_comment">Mission Comments</h3>
    <div class="w3-row w3-center">
        {% if commentcut %}
            {% for mc in commentcut %}
                <div class="w3-quarter" style="height: 295px; width: 295px;">
                    <div style="overflow: hidden;  width: 100%; height: 100%;">
                        <a href="{% url 'mission_detail' mc.mission.id %}" style="display: none;">{{ mc.pub_date }}</a>
                        {% if mc.image %}<img src="{{ mc.image.url }}" class="box-img" alt="{{ mc.body }}">{% endif %}
                        {% if user.is_authenticated and request.user in mc.likers.all %}
                            <span style="display: none;" role="♥ ">{{ mc.getlikes }}</span>
                        {% else %}
                            <span style="display: none;" role="♡ ">{{ mc.getlikes }}</span>
                        {% endif %}
                    </div>
                </div>               
            {% endfor %}
        {% else %}
            작성한 답변이 없습니다.
        {% endif %}
    </div>
     <!-- Pagination -->
    <!-- Pagination -->
    <div class="w3-container w3-center w3-padding-32">
        <div class="w3-bar">
            {% if commentcut %}
                {% if commentcut.has_previous %}
                    <a href="?page={{commentcut.previous_page_number}}" class="w3-bar-item w3-button w3-hover-black">«</a>
                {% endif %}
                <span class="w3-bar-item">{{ commentcut.number }}</span>
                <span class="w3-bar-item">/</span>
                <span class="w3-bar-item">{{ commentcut.paginator.num_pages }}</span>
                {%if commentcut.has_next%}
                    <span><a href="?page={{commentcut.next_page_number}}" class="w3-bar-item w3-button w3-hover-black">»</a></span>
                {%endif%}
            {% endif %}
        </div>
    </div>


    <!-------------------------------------
    *               의뢰글                *
    -------------------------------------->
     <!-- 작성한 의뢰글 -->
    <h3 class="h3 category_head w3-padding-32" id="mission">Mission Requests</h3>
    <div role="mission" class="w3-white" style="padding: 2rem; margin: 0 0.5rem;">
        <table>
            {% if missioncut %}
                {% for mission in missioncut %}
                    <tr class="w3-row">
                        <td style="text-align: left;">
                            <a href="{% url 'mission_detail' mission.id %}" style="text-decoration: none;">
                                <span style="font-size: larger">{{ mission.title }}</span>
                            </a>
                        </td>
                        <td style="text-align: right;">
                            <a href="{% url 'mission_detail' mission.id %}" style="text-decoration: none;">
                                <span class="w3-text-dark-gray"><i>{{ mission.pub_date }} ~ {{ mission.end_date }}</i></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                작성한 의뢰글이 없습니다.
            {% endif %}
        </table>

    </div>
    <!-- Pagination -->
    <div class="w3-container w3-center w3-padding-32">
        <div class="w3-bar">
            {% if missioncut %}
                {% if missioncut.has_previous %}
                    <a href="?page={{missioncut.previous_page_number}}" class="w3-bar-item w3-button w3-hover-black">«</a>
                {% endif %}
                <span class="w3-bar-item">{{ missioncut.number }}</span>
                <span class="w3-bar-item">/</span>
                <span class="w3-bar-item">{{ missioncut.paginator.num_pages }}</span>
                {%if missioncut.has_next%}
                    <span><a href="?page={{missioncut.next_page_number}}" class="w3-bar-item w3-button w3-hover-black">»</a></span>
                {%endif%}
            {% endif %}
        </div>
    </div>



    </div>

  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0; z-index: 1000;" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <a id="img_link" class="text-white w3-hover-text-blue" href="#">
            <img id="img01" class="w3-image w3-padding-16">
            <div id="caption" class="h3 m-3" style="font-size: 2rem;"></div>
            <div id="caption_date" class="w3-text-white h6 p-0"></div>
            <div id="caption_like" class="w3-text-red"></div>
        </a>
    </div>
  </div>

<!-- End page content -->
</div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    $(document).ready(function(e) {
        $(".box-img").ready(function() {
            $(".box-img").each(function() {
                var w = $('.w3-quarter').first();
                if ($(this).width() > $(this).height()) {
                    $(this).css("height", w.height());
                }else{
                    $(this).css("width", w.width());
                } 
                $(this).css('visibility', 'visible');
            });
        });
        

        $(".box-img").click( function(e) {
            $('#img01').attr('src', $(this).attr('src'));
            $("#modal01").css('display', 'block');
            $('#caption').text($(this).attr('alt')); // 모달창 내용
            $('#caption_date').text($(this).prev().text()); // 모달창 날짜
            $('#caption_like').text($(this).next().attr('role') + $(this).next().text()); // 모달창 좋아요 수
            $('#img_link').attr('href', $(this).prev().attr('href')); //모달창 링크
        });
    });

    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }
    
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>

{% endblock %}