<!-- 콘테스트 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contest</title>
    <style>
        .wrapper {
            display: grid;
            /* border: 1px solid black; */
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 100px;
        }
        div{
            border: 1px solid black;
        }
        .full{
            height:600px;
            width: auto;
        }
        
    </style>
</head>
<body>
    <div class="wrapper">
        <div a href=".jpg">img1</div>
        <div a href=".jpg">img2</div>
        <div a href=".jpg">img3</div>
        <div a href=".jpg">img4</div>
        <div a href=".jpg">img5</div>
        <div a href=".jpg">img6</div>
    </div>
    <hr>
    <div class="full">img full</div>
</body>
</html>
