
{% extends 'base.html' %}
{% block title%}

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/konva@7.0.4/konva.min.js"></script>
{% endblock title%}

{% block content %}
<br>
<br>
<input id="loadButton" type="file" accept="image/*">
<div id="container" style="width: 1000px;height: 500px; background-color: gray;"></div>
<div id="controls">
    <button id="set">초기화</button>
    색상:
    <input id="hue" type="range" min="0" max="259" step="1" value="0" />
    채도:
    <input id="saturation" type="range" min="-2" max="2" step="0.5" value="0" />
    밝기:
    <input id="value" type="range" min="-1" max="1" step="0.05" value="0" />
    대비:
    <input id="contrast" type="range" min="-50" max="50" step="0.5" value="0"
    />
    블러 :
    <input id="blur" type="range" min="0" max="40" step="0.05" value="0" />
    

</div>
<script>
    var image = new Image();
    $('#loadButton').on('change', function (e) {
        var file = e.target.files[0];
        var fileReader = new FileReader();

        fileReader.onload = function (e) {
            image.src = e.target.result;
            image.onload = function () {
                setting()
                start(image)
            }
        }
        fileReader.readAsDataURL(file);

    });


    function setting() {
        document.getElementById('hue').value = 0
        document.getElementById('saturation').value = 0
        document.getElementById('value').value = 0
        document.getElementById('contrast').value = 0
        document.getElementById('blur').value = 0
    }


    function start(image) {
            var container = document.getElementById('container');
            var stage = new Konva.Stage({
                container: 'container',
                width: 1000,
                height: 500,
            });

            var layer = new Konva.Layer();
            var img = new Konva.Image({
                x: 0,
                y: 0,
                image: image,
                width: 300,
                height: 300,
                draggable: true,
            });

            img.cache();
            img.filters([Konva.Filters.HSV].concat([Konva.Filters.Contrast], [Konva.Filters.Blur], [Konva.Filters.Emboss]));
            img.embossStrength(0.0);
            img.embossBlend(true);
            var tr = new Konva.Transformer();
            layer.add(tr);
            tr.nodes([img]);
            layer.add(img);
            stage.add(layer);

            
            var sliders = ['hue', 'saturation', 'value', 'contrast'];
            sliders.forEach(function (attr) {
                var slider = document.getElementById(attr);
                function update() {
                    img[attr](parseFloat(slider.value));
                    layer.batchDraw();
                }
                slider.oninput = update;
                update();
            });
            
            document.getElementById('blur').oninput = function () {
                img.blurRadius(document.getElementById('blur').value);
                layer.batchDraw();
            };

            document.getElementById('set').onclick = function (){
                setting()
                img.blurRadius(document.getElementById('blur').value);
                var sliders = ['hue', 'saturation', 'value', 'contrast'];
                sliders.forEach(function (attr) {
                    var slider = document.getElementById(attr);
                    img[attr](parseFloat(slider.value));
                    layer.batchDraw();
                });
                
                
            }
        }

</script>

{% endblock content %}