<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/main/css/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;700&display=swap" rel="stylesheet">
        <style>
        body {font-family: 'Noto Serif KR', serif;}
        h1, h2, h3, h4, h5, h6 {
          font-family: 'Noto Serif KR', serif;
          letter-spacing: 0px;
        }
        </style>

        <title>2%를 부탁해</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>


        <!-- Navbar (sit on top) -->
        <div class="w3-top">
          <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:0.5px;">
            <a href="{% url 'home' %}" class="w3-bar-item w3-button">2%를 부탁해 <img src="/static/main/images/logo.png" width="24px;" height="auto"></a>
            <div class="w3-center2" style="text-align:center;">
                <a class="w3-bar-item">  |   </a>
                <a href="{% url 'mission' %}" class="w3-bar-item w3-button">의뢰</a>
                <a href="{% url 'photoshop' %}" class="w3-bar-item w3-button">보정법</a>
                <a href="{% url 'contestway' %}" class="w3-bar-item w3-button">콘테스트</a>
            </div>
              
            <div class="w3-right w3-hide-small">
                <a class="w3-bar-item">  |   </a>
                {% if user.is_authenticated %}
                  <a href="{% url 'user' user.username %}" class="w3-bar-item w3-button">{{ user.username }}</a>
                  <a href="{% url 'mypage' %}" class="w3-bar-item w3-button">마이페이지</a>
                  <a href="{% url 'signout' %}" class="w3-bar-item w3-button">로그아웃</a>
                {% else %}
                  <a href="{% url 'signin' %}" class="w3-bar-item w3-button">로그인</a>
                  <a href="{% url 'signup' %}" class="w3-bar-item w3-button">회원가입</a>
                {% endif %}
            </div>
          </div>
        </div>


        <div id="slide">
          <input type="radio" name="pos" id="pos1" checked>
          <input type="radio" name="pos" id="pos2">
          <input type="radio" name="pos" id="pos3">
         
          <ul>
            <li><img src="https://images.unsplash.com/photo-1596376243159-de037756cc86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" width="100%" height="auto">
            <div class="w3-display-bottomleft w3-padding-large">
                <h4 style="color: white">2%를 부탁해 제 3회 콘테스트 수상작</h4>
        </div></li>
           
            <li><img src="static/main/images/02.jpg" width="100%" height="auto"></li>
            <li><img src="static/main/images/04.jpg" width="100%" height="auto"></li>
            
            
          </ul>
          <p class="pos">
            <label for="pos1"></label>
            
            <label for="pos2"></label>
            <label for="pos3"></label>
            
          </p>
        </div>
        
        <!--</header>-->
        
        
        <!-- Page content -->
        <div class="w3-content" style="max-width:1100px">
        
        
        
        <div class="w3-row w3-padding-64">
           <br>
            <h1 class="w3-center">About Us</h1><br><br><br>
            <div class="w3-col m6 w3-padding-large w3-hide-small">
             <img src="static/main/images/03.jpg" class="w3-round w3-image w3-opacity-min" width="600" height="750">
            </div>
        
            <div class="w3-col m6 w3-padding-large">
              <br><br><br><br><h2 class="w3-center">사진 의뢰하기</h2>
              <p class="w3-large">전문가의 도움이 필요할 땐 쌓아둔 포인트를 사용한 <span class="w3-tag w3-pink">의뢰</span> 서비스.</p>
            </div>
          </div>
        
          
          <div class="w3-row">
            <div class="w3-col m6 w3-padding-large">
              <br><br><br><br><h2 class="w3-center">나만의 보정법 공유하고 구독하기</h2>
                <p class="w3-large">나만의 <span class="w3-tag w3-pink">보정 방법</span>을 상세하게 작성하고 공유하기.<br>내 마음에 드는 보정 방법만 <span class="w3-tag w3-pink">구독</span>하기.</p>
            </div>
            <div class="w3-col m6 w3-padding-large w3-hide-small">
             <img src="static/main/images/02.jpg" class="w3-round w3-image w3-opacity-min" width="600" height="750">
            </div>
          </div>
        <br>
        
           <div class="w3-row w3-padding-64">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
             <img src="static/main/images/04.jpg" class="w3-round w3-image w3-opacity-min" width="600" height="750">
            </div>
        
            <div class="w3-col m6 w3-padding-large">
              <br><br><br><br><h2 class="w3-center">인생샷으로 콘테스트 참여</h2>
              <p class="w3-large"> <span class="w3-tag w3-pink">포인트</span> 받아가기.</p>
            </div>
            </div>
          
        
          
          <div class="w3-row">
            <div class="w3-col m6 w3-padding-large">
              <br><br><br><br><h2 class="w3-center">해시태그 추천으로 색다른 사진 만나보기</h2>
                <p class="w3-large">지금 가장 인기있는 <span class="w3-tag w3-pink">해시태그 추천</span> 받기.<br>내 마음에 드는 해시태그만 <span class="w3-tag w3-pink">팔로잉</span>하기.</p>
            </div>
            <div class="w3-col m6 w3-padding-large w3-hide-small">
             <img src="static/main/images/05.jpg" class="w3-round w3-image w3-opacity-min" width="600" height="750">
            </div>
          </div>
          
          <br><br><br><br>
          
        
          
          
          
        
          <div class="w3-row w3-padding-32" id="about">
           
            <div class="w3-col m6 w3-padding-small w3-hide-small">
            <a>ㅤㅤ의뢰</a><br>
            <img src="static/main/images/box.png" class="w3-round w3-image w3-opacity-min" width="500" height="750">
            </div>
          
          <div class="w3-col m6 w3-padding-small w3-hide-small">
            <a>ㅤㅤ보정법</a><br>
            <img src="static/main/images/box.png" class="w3-round w3-image w3-opacity-min" width="500" height="750">
            </div>
          </div>
        
        
          <!-- 오늘의 보정법 추천 -->
          <hr>
          <!-- <h4>좋아요를 가장 많이 받은 보정법</h4>
          <div class="carousel slide" data-ride="carousel" data-interval="2000">
              <div class="carousel-inner">
                {% for photo in p %}
                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                  <img src="{{ photo.photobefore.url }}" class="d-block w-50" >
                </div>
                {% endfor %}
              </div>
          </div> -->
          <br><br>
          <h4>현재 콘테스트 TOP4</h4>
          <div class="card" style="width: 100%;">
            <div class ="row">
              {% for c in best_contests %}
            
              <div class="col-md-3 col-xs-2 mb-2">
                <div class="card card_hover h-100">
                  <img class="card-img-top" src="{{ c.image.url }}" style="height: 100%; display: flex; justify-content:center; align-items:center;">
                </div>
              </div>
          
                {% endfor %}
                </div>
              </div> 
        
          
        
        </div>

        <br><br>
        
<!-- Footer -->
<footer class="w3-center w3-light-gray w3-padding-32" style="bottom:0;width:100%;">
  <p>created by <a href="">TEAM please2%</a></p>
</footer>

</body>


</html>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
