<!--요청글작성-->

{% extends 'base.html' %}

{% block content %}
<div class='container' style="width: 65%;margin: 0 auto;">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>제목: <input type="text" name="title"></p>
    <p>의뢰 내용: <textarea name="body" class="w3-input w3-padding-16"></textarea></p>
    <p>의뢰 사진: <input type="file" name="image"></p>
    <p>포인트 설정하기: <input type="text" name="point"></p>
    <p>마감기한: <input type="date" name="end_date" id='enddate'></p>
    <!-- <p><input type="submit" value="SUBMIT"></p> -->
    <p><button class="w3-button w3-light-grey w3-section" type="submit">올리기</button></p>

</form>
</div>
<script>
    var today = new Date();
    var dd = today.getDate()+1;
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){dd='0'+dd} 
    if(mm<10){mm='0'+mm} 
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("enddate").setAttribute("min", today);
</script>

{% endblock %}