{% extends 'base.html' %}
{% block title %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock title %}
{% block content %}
{% load static %}

<div class="w3-main w3-content w3-padding" style="max-width:1200px;">
    <div class="w3-container w3-center">  
        <h2 style="margin-bottom: 30px;"><b>{{mission.title}}</b></h2><br>
        <img src="{{mission.image.url}}" alt="Me" class="w3-image" style="display:block;margin:auto;max-height: 533px;">
        <div class="w3-padding-32">
            <h4>{{mission.writer}}</h4>
            <h4>{{mission.point}} point</h4>
            <h6><i>{{mission.pub_date}} ~ {{mission.end_date}}</i></h6>
            {% if mission.pick %}
            <p style="color: palevioletred;">pick</p>
            {% else %}
            <p style="color: gray;">unpick</p>
            {% endif %}
            {% if mission.end or mission.pick %}
            <p style="color: red;">closed</p>
            {% else %}
            <p style="color: rgb(255, 175, 4);">ing</p>
            {% endif %}
            <p class="w3-border w3-padding-32" style="margin-top: 50px;">{{mission.body}}</p>
        </div>
        
        <div class="w3-bar">
            <a href="{% url 'mission_delete' mission.id %}" class="w3-bar-item w3-button w3-hover-black">삭제</a>
            <a href="{% url 'mission' %}" class="w3-bar-item w3-button w3-hover-black">home</a>
            <!-- 게시글 스크랩 -->
            {% if user.is_authenticated %}
                {% if mission not in request.user.mscraps.all %}
                    <a href="{% url 'mission_scrap' mission.id %}" class="w3-bar-item w3-button w3-hover-black">스크랩</a>
                {% else %}
                    <a href="{% url 'mission_scrap_del' mission.id %}" class="w3-bar-item w3-button w3-hover-black">스크랩 취소</a>
                {% endif %}
            {% endif %}
        </div>
    </div>


    

    <hr>
    {% if not mission.end %}
    <form method="POST" class="w3-container w3-light-grey" action="{% url 'mission_comment_create' mission.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Comment</h3>
        <p><input type="file"name="image"></p>
        <p><textarea class="w3-input" name="body" style="height: 100px;"></textarea></p>
        <p><button class="w3-button w3-light-grey w3-border" type="submit">SUBMIT</button></p>
    </form>
    <hr>
    {% endif %}
    <div class="w3-bar w3-white w3-small" >
        <select id="sort-select" class="w3-bar-item w3-border" onchange="location = this.value;" style="float:right; margin:3px">
            <option value="/">최신순</option>
            <option value="?sort=like">좋아요순</option>
        </select>
    </div>
    <div class="w3-main w3-content" style="max-width:1200px; padding: 40px 16px!important;"> 
        

        {% if mission.pick %}
        <div style="border: solid 3px pink; padding: 10px">
            <img src="{{picked.image.url}}" style="max-height: 200px;">
            
            <div style="float: right; padding:15px;">
                <p style="text-align: right;"><b style="color: palevioletred;">PICK</b></p>
                <p style="text-align: right;"><b>{{picked.writer}}</b></p>
                <p style="text-align: right;">{{picked.body}}</p>
                <form action="{% url 'mission_comment_like' picked.id %}" method="get">
                    {% if user.is_authenticated %}
                        {% if user in comment.likers.all %}
                            <button type="submit" style="background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer" ><img src="{% static 'heart.png' %}" style="width: 15px; height: 15px;"></button>
                        {% else %}
                            <button type="submit" style="background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer" ><img src="{% static 'pink.png' %}" style="width: 15px; height: 15px;"></button>
                        {% endif %}
                    {% endif %}
                    {{picked.getlikes}}&nbsp;&nbsp;&nbsp;&nbsp;
                    {{picked.pub_date}}
                    
                </form> 
            </div>
            
        </div>
        <hr>
        {% endif %}

        <!-- 댓글 -->
        {% for comment in comments %}
            <div>
                <img src="{{comment.image.url}}" style="max-height: 200px;">
                
                <div style="float: right; padding:15px;">
                    <p style="text-align: right;"><b>{{comment.writer}}</b></p>
                    <p style="text-align: right;">{{comment.body}}</p>
                    <form action="{% url 'mission_comment_like' comment.id %}" method="get">
                        {% if user.is_authenticated %}
                            {% if user in comment.likers.all %}
                                <button type="submit" style="background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer" ><img src="{% static 'heart.png' %}" style="width: 15px; height: 15px;"></button>
                            {% else %}
                                <button type="submit" style="background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer" ><img src="{% static 'pink.png' %}" style="width: 15px; height: 15px;"></button>
                            {% endif %}
                        {% endif %}
                        {{comment.getlikes}}&nbsp;&nbsp;&nbsp;&nbsp;
                        {{comment.pub_date}}
                        <br>
                    </form> 
                    {% if request.user == comment.writer %}
                        <a href="{% url 'mission_comment_delete' comment.id %}" style="float:right;margin-top:5px; text-decoration:none;">댓글 삭제하기</a>
                    {% endif %}
                    <br><br>
                    {% if not mission.pick and user == mission.writer %}
                        <a href="{% url 'mission_pick' comment.id %}" style="float:right;margin-top:5px; text-decoration:none;">채택하기</a>
                    {% endif %}
                </div>
                
            </div>
            <hr>
        {% endfor %}
    </div>

    <!-- 댓글 -->
    <!-- <div class="w3-row w3-padding-32 w3-section">
        
        {% for comment in comments %}
        <div class="w3-col w3-panel">
            <img src="{{comment.image.url}}" style="max-height: 200px;"><br>
            <div class="w3-large w3-margin-bottom">
            <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{comment.writer}}<br>
            <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{comment.pub_date}}<br>
            <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> {{comment.isPicked}}<br>
          </div>
          <p>{{comment.body}}</p>
          <form action="{% url 'mission_comment_like' comment.id %}" method="get">
            <i class="fa fa-envelope" style="width:30px"> </i> {{comment.getlikes}}
            {% if user.is_authenticated %}
                {% if user in comment.likers.all %}
                <button type="submit">취소</button>
                {% else %}
                <button type="submit">따봉</button>
                {% endif %}
            {% endif %}
            </form>
            {% if not mission.pick and user == mission.writer %}
                <button onclick = "location.href =`{% url 'mission_pick' comment.id %}` ">채택하기</button>
                {% endif %}
                <a href="{% url 'mission_comment_delete' comment.id %}">삭제</a>
                <hr>
            {% endfor %}
        </div> 
      </div>-->
</div>
{% endblock content %}