<!-- 요청 -->
<h1>Mission</h1>
<form method="GET">
    <input type="text" name="search">
    <input type="submit" value="search">
</form>
{% if user.is_authenticated %}
<a href="{% url 'mission_create' %}">글 등록</a>
{% endif %}
<hr>
<select id="sort-select" onchange="location = this.value;">
    <option value=".">최신순</option>
    <option value="?sort=comment">댓글많은순</option>
    <option value="?sort=enddate">마감일순</option>
    <option value="?sort=point">포인트순</option>
</select>
<div>
{% for mission in missions %}
    <a href="{% url 'mission_detail' mission.id %}" style="float:left">
        <img src="{{mission.image.url}}" style="max-height: 200px;">
    </a>
{% endfor %}
</div>

<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    var sort = getUrlParameter('sort');
    var sel = document.getElementById("sort-select");
    if(sort == 'comment'){
        sel[1].selected = true
    }else if(sort == 'enddate'){
        sel[2].selected = true
    }else if(sort == 'point'){
        sel[3].selected = true
    }else{
        sel[0].selected = true
    };

</script>