<!-- 보정게시글(각자) --> 
{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
<head>
    <style>
        body,h1 {font-family: "Raleway", Arial, sans-serif}
        h1 {letter-spacing: 6px}
        .w3-row-padding img {margin-bottom: 12px}
    </style>

</head>



<body>
    <div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
        <div class="w3-half">
            <img src="{{ photodetail.photobefore.url }}">
        </div>
        <div class="w3-half">
            <img src="{{ photodetail.photoafter.url }}">
        </div>
    </div>


<div class='container'>
    <img src="{{ photodetail.photobefore.url }}">
    <img src="{{ photodetail.photoafter.url }}" ><br>
    <h3>{{photodetail.title}}<br></h3>
    {{photodetail.writer}}<br>
    {{photodetail.date}}<br>
    {{photodetail.device}}<br>
    {{photodetail.color}}<br>
    {{photodetail.kind}}<br>
    {{photodetail.method}}<br>
    {{photodetail.fix}}<br>
    {{photodetail.app}}<br>
    {{photodetail.explain}}<br>
    
    <button onclick = "window.open(`{% url 'filter' photodetail.id %}`, 'filter','width=791,height=410,location=no,status=no,scrollbars=no')"></button>
    <!-- 게시글 스크랩 -->
    {% if user.is_authenticated %}
        {% if photodetail not in request.user.pscraps.all %}
            <a href="{% url 'photoscrap' photodetail.id %}">스크랩</a>
        {% else %}
            <a href="{% url 'photoscrap_del' photodetail.id %}">스크랩 취소</a>
        {% endif %}
    {% endif %}
    
<!-- 좋아요 -->
    <form action="{% url 'photodetail' photodetail.id %}" method="get">
        {% if user in photodetail.photo_like.all %}
        <button type="submit">좋아요 취소</button>
        {% else %}
        <button type="submit">좋아요</button>
        {% endif %}
        {{ photodetail.photo_like.count }}
        </p>
    </form>



</div>
{% endblock %}


<!-- 보정 댓글 정렬 -->
<select id="sort-select" onchange="location = this.value;">
    <option value="/">최신순</option>
    <option value="?sort=like">좋아요순</option>
</select>

<br><hr>


<!-- 보정게시글의 댓글 -->

{% for comment in co %}

    작성자:{{comment.author}}

    <p>내용: {{comment.body}}</p>

    {{comment.pub_date}}

    
    
    <form action="/comment_like/{{comment.id}}" method="get">

        <button type="submit" >♥</button>
    </form> {{comment.getlike}}
    <br>
    {% if request.user == comment.author %}
        <a href="{% url 'comment_delete' comment.id%}">댓글 삭제하기</a>
        <hr><br>
    {% endif %}


{% endfor %}

<form action="/commenting/{{photodetail.id}}" method="POST">
    {% csrf_token %}
    <input type="text" name="body">
    <button type="submit">작성</button>
</form>

</div>
</body>