<!-- 보정게시글(각자) --> 
<div class='container'>
    <img src="{{ photodetail.photobefore.url }}" >
    <img src="{{ photodetail.photoafter.url }}" ><br>
    <h3>{{photodetail.title}}<br></h3>
    {{photodetail.date}}<br>
    {{photodetail.device}}<br>
    {{photodetail.color}}<br>
    {{photodetail.kind}}<br>
    {{photodetail.method}}<br>
    {{photodetail.fix}}<br>
    {{photodetail.app}}<br>
    {{photodetail.explain}}<br>


</div>


{% for comment in comments %}

    작성자:{{comment.author}}

    <p>내용: {{comment.body}}</p>
     

{% endfor %}

<form action="/photoshop/commenting/{{.id}}" method="POST">
    {% csrf_token %}
    <input type="text" name="body">
    <button type="submit">작성</button>
</form>