{% extends 'base.html' %}

{% block content %}


<div class='container' style="width: 65%;margin: 0 auto;">
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="w3-container w3-padding-64" id="contact">
            <p class="w3-input w3-padding-16">제목&nbsp; {{form.title}}</p>
            <p class="w3-input w3-padding-16">촬영 기기 &nbsp; {{form.device}}</p>
            <p class="w3-input w3-padding-16">분위기 &nbsp; {{form.color}} </p>
            <p class="w3-input w3-padding-16">종류 &nbsp; {{form.kind}} </p>
            <p class="w3-input w3-padding-16">포토샵 &nbsp; {{form.method}}</p>
            <p class="w3-input w3-padding-16">방법 &nbsp; {{form.fix}}</p>
            <p class="w3-input w3-padding-16">어플 이름 &nbsp; {{form.app}}</p>
            <p class="w3-input w3-padding-16">사진 before &nbsp; {{form.photobefore}}</p>
            <p class="w3-input w3-padding-16">사진 after &nbsp; {{form.photoafter}}</p>
              <br>
              <br>
            <p class="w3-large">❃ 다른 사용자들에게 나만의 보정법을 자세하게 설명해주세요! ❃</p>
            <p class="w3-input w3-padding-16">{{form.explain}}</p>
              <p><button class="w3-button w3-light-grey w3-section" type="submit">올리기</button></p>
            
          </div>
    </form>
</div>



{% endblock %}